* {
  box-sizing: border-box;
  scrollbar-width: none;
}

body {
  display: flex;
  flex-direction: column;

  margin: 0;
  background-color: grey;
}

p {
  height: 25%;
}

canvas {
  margin: 0;
  height: 100vh;
  background-color: black;
  border: 0.5em solid blueviolet;
}

.anomaly-header__warningText {
  color: red;
  font-weight: bold;
}

.anomaly-header {
  display: flex;
  justify-content: space-between;
}

.anomaly-header__exit-btn {
  width: 5vw;
}
