* {
  box-sizing: border-box;
  scrollbar-width: none;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

canvas {
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

.anomaly-header {
  display: flex;
  justify-content: space-between;

  .warning-text {
    color: red;
    font-weight: bold;
  }

  .exit-btn {
    width: 5vw;
  }
}